h3
{
  text-transform: capitalize;
}
.main-container{
    text-align: center;
}
.header{
    margin: 10px;
}
img
{
  padding: 5px;
  border: 1px solid blue;
  width: 60%;
  height: 100%;
  margin-left: 10px;
}

 

  
