h3
{
  text-transform: capitalize;
}
.main-container{
    text-align: center;
}
.header{
    margin: 10px;
}
img
{
  padding: 5px;
  border: 1px solid blue;
  width: 30%;
  margin-left: 10px;
 
}
.column {
    width: 40%;
    padding: 5px;
    
  }
 

  
