
.main-container{
    text-align: center;
}
.header{
    margin: 10px;
}
img
{
  padding: 5px;
  border: 1px solid blue;
  width: 50%;
  margin-left: 10px;
}
.column {
    width: 50%;
    padding: 5px;
    
  }
 

  
