/* 
img
{
    padding: 35px;
    border: 1px solid blue;
    width: 70%;
    height: 100%;
    margin-left: 50%;
    margin-top: 20px;
    float: right;
}
.card-body
{
    display: inline-flex;
    margin-left: 60px;  
}
.card
{
    display: block;
    margin-left: 60px;
} */

img
{
  padding: 5px;
  border: 1px solid blue;
  width: 70%;
  height: 100%;
  margin-left: 10px;
  
}
.container {
    position: relative;
    width: 50%;
  }
  
  .homeimg {
    display: block;
    width: 100%;
    height: auto;
    
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #347ade;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  button{
      /* position: absolute; */
      display: flex;
  }