<div *ngIf = "searchProductArray" class="search-items">
    <div *ngFor = "let item of searchProductArray">
      
        <div class="column" style="width: 250px; height: 190px;">
            <img class="img-responsive" [src]="item.product_image" alt="product" >
        </div>
            <div class="card-body">
                <p class="card-text">{{item.product_description}}</p> &nbsp;
                <b><p class="card-text">{{item.product_price}}$</p></b>
              </div>
        
        <!-- <div class="card-body">
            <a  class="card-link btn btn-primary"  (click) = addToCart(item.product_id)>Add to Cart</a>
            <a href="#" class="card-link btn btn-secondary">Order now</a>  
         </div> -->
    </div>
    <!-- {{searchProductArray | json}} -->
</div>

