/* 
img
{
    padding: 35px;
    border: 1px solid blue;
    width: 70%;
    height: 100%;
    margin-left: 50%;
    margin-top: 20px;
    float: right;
}
.card-body
{
    display: inline-flex;
    margin-left: 60px;  
}
.card
{
    display: block;
    margin-left: 60px;
} */

img
{
  padding: 5px;
  border: 1px solid blue;
  width: 70%;
  height: 100%;
  margin-left: 10px;
  
}