<div *ngIf = "searchProductArray.length > 0" class="search-items">
    <div style="text-align: center;" class="header mt-5">
        <h2>You searched for {{searchTerm | titlecase}}</h2>
    </div>
    <div class="mt-5 d-flex justify-content-center flex-wrap ">
    <div *ngFor = "let item of searchProductArray">
        <div class="rounded mx-auto d-block" style="width: 250px; height: 190px;">
            <img  class="card-img-top"  [src]="item.product_image" alt="product" >
        </div>
            <div class="card-body">
                <p class="card-text">{{item.product_description}}</p> &nbsp;
                <b><p class="card-text">{{item.product_price}}$</p></b>
              </div>
        
        <div class="card-body">
            <a  class="card-link btn btn-primary"  (click) = addToCart(item.product_id)>Add to Cart</a>
            <a href="#" class="card-link btn btn-secondary">Order now</a>  
         </div>
        </div>
    </div>
    <!-- {{searchProductArray | json}} -->
</div>


<div class="container">
    <img class = "homeimg" src = "https://img.freepik.com/free-photo/happy-beautiful-young-woman-blue-dress-with-his-hand-holding-shopping-bags-finger-pointing-light-blue-with-copy-space_74952-576.jpg?size=626&ext=jpg">
    <div class="overlay">
      <div class="text">Online Shopping
          <button (click) = "shopNow()">Shop Now</button>
      </div>
    </div>
    <!-- <img class = "girlimg" src = "https://st.depositphotos.com/2117297/2191/i/950/depositphotos_21915873-stock-photo-attractive-woman-shopping.jpg">
      <div class="d-flex t-20">Women Online Shopping
          <button (click) = "shopNow()">Shop Now</button>
      </div> -->
   


  </div>