<h1>Kids Clothing</h1>

<div class = "container">
   

    <div *ngFor="let kidItem of kidData" class = "card">
        <img  class = "kidimg" [src]="kidItem.p_img" alt="kidImage" (click)="displayInfo = true">
         <div *ngIf="displayInfo">
            <div class="des">{{kidItem.des }}</div>
            <div class="price">{{kidItem.price}}</div>
            <div class="sellername">{{kidItem.sellername }}</div>
         </div> 
       
            <button 
            (click)="addToCart(cartId,kidItem.Pid)">Add to cart </button>
            <button (click)="buyNow()" >Buy Now</button>
       </div>
 </div>