<!-- Hello Upload your files<br>

<input type = "file" (change)="onChange($event)">

<form [formGroup]="userForm" (submit)="formSubmit()">
    <select  name="" id="" class="form-group" formControlName="category" (change)="getSubCategory($event.target)">        
            <option *ngFor="let category of categories" [value]="category.category_id">{{category.category_title}}</option>

    </select>
    <select class="form-group" *ngIf="userForm.value.category" formControlName="sub_category" (change)="getProductCategory($event.target)">
        <option *ngFor="let subCategory of subCategories" [value]="subCategory.sub_category_id">{{subCategory.sub_category_title}}</option>
    </select>
    <select *ngIf="userForm.value.sub_category" formControlName="product_category" class="form-group">
        <option *ngFor="let productCategory of productCategories" [value]="productCategory.product_category_id">{{productCategory.product_category_title}}</option>
    </select>
    <div class="productDetails" *ngIf="userForm.value.product_category">
        <input type="text" formControlName="product_title" class="form-group">
        <textarea class="form-group" name="" id="" cols="30" rows="10" formControlName="product_description" ></textarea>
        <input class="form-group" type="number" formControlName="product_price">
        <input type = "file" (change)="onChange($event)">
    </div>
    

    <button type="submit">Submit</button>
</form> -->


<div class="container">
    <div class="title">Upload Images</div>
    <div class="content">
        <form [formGroup]="userForm" (submit)="formSubmit()">
            <div class="selections">
                <div class="input-box">
                    <select  name="" id="" class="form-group" formControlName="category" (change)="getSubCategory($event.target)">        
                        <option *ngFor="let category of categories" [value]="category.category_id">{{category.category_title}}</option>
            
                </select>
                </div>
                <div class="input-box">
                    <select class="form-group" *ngIf="userForm.value.category" formControlName="sub_category" (change)="getProductCategory($event.target)">
                        <option *ngFor="let subCategory of subCategories" [value]="subCategory.sub_category_id">{{subCategory.sub_category_title}}</option>
                    </select>
                </div>
                <div class="input-box">
                    <select *ngIf="userForm.value.sub_category" formControlName="product_category" class="form-group">
                        <option *ngFor="let productCategory of productCategories" [value]="productCategory.product_category_id">{{productCategory.product_category_title}}</option>
                    </select>
                </div>
            </div>
            <div class="inputFields" *ngIf="userForm.value.product_category" >
                <div class="input-fields">
                    <input type="text" formControlName="product_title" class="form-group">
                </div>
                <div class="input-fields">
                    <textarea class="form-group" name="" id="" cols="30" rows="10" formControlName="product_description" ></textarea>
                </div>
                <div class="input-fields">
                    <input class="form-group" type="number" formControlName="product_price">
                </div>
                <div class="input-fields">
                    <input type = "file" (change)="onChange($event)">
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Register">
              </div>
        </form>
    </div>
</div>